setfit
transformers==4.38.2
scikit-llm==0.1.0b3
scikit-learn
google-cloud-aiplatform
openai
dspy-ai
datasets
accelerate
s3fs
langchain
langchain_openai
langchain_community
langchain_experimental
langchain-google-vertexai
langchain-google-genai
langchain-groq
langchain-aws
pillow
evaluate
fastparquet
pandas
seaborn 
torch
datasets
spacy
nltk
accelerate
flake8
tqdm
isort
black
ipykernel
boto3
mkl
gdown
sacremoses
sentencepiece
protobuf
python-dotenv 