setfit
transformers==4.38.2
scikit-llm==0.1.0b3
scikit-learn
google-cloud-aiplatform
openai
dspy-ai
datasets
accelerate
s3fs
langchain
evaluate
fastparquet
pandas
seaborn 
torch
datasets
spacy
nltk
accelerate
flake8
tqdm
isort
black
ipykernel
boto3
mkl
gdown
sacremoses
sentencepiece
protobuf